@media screen and (max-width:768px){
    
    .row{
        display: flex;
        flex-wrap: wrap;

    }
    
    .steps .col {
        width: calc(100% / 2);
    
    }
    
    
    
    .container{
        width: 100%;
    }
    
   .col {
       width: 100%;
       margin: 0 auto;
   
   }
      
    }
   

@media screen and (max-width:480px){

    .row{
        display: block;
     }
    
     .container{
         width: 100%;
     }
     
    .col {
        width: 100%;
        margin: 0 auto;
    
    }
  
}
   
    
    
