@media screen and (max-width:968px){
    .row{
       display: block;
       width: 100%;
    }
   
    .container{
        width: 100%;
    }
    .lessons .col {
        width: 100%;
    }
    .steps .col{
        width: 100%;
       
    }
   .col {
    border: 2px red solid;
     margin: 0 auto;
   
   }
}
@media screen and (max-width:480px){

  
    
    
    
}